@font-face {
  font-family: "Abeatbykai";
  src: url("../fonts/abeatbykai/abeatbyKaiRegular.otf");
}
/* Light */
@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/creato_display/CreatoDisplay-Light.otf");
  font-style: normal;
  font-weight: 100;
}
/* Normal */
@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/creato_display/CreatoDisplay-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
/* Medium */
@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/creato_display/CreatoDisplay-Medium.otf");
  font-style: normal;
  font-weight: 500;
}
/* Bold */
@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/creato_display/CreatoDisplay-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
/* Extra Bold */
@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/creato_display/CreatoDisplay-ExtraBold.otf");
  font-style: normal;
  font-weight: 900;
}
html,
body {
  font-family: "Abeatbykai", sans-serif;
  font-family: "CreatoDisplay", sans-serif;
  font-size: 16px;
}

.font-kai {
  font-family: "Abeatbykai", sans-serif;
}

.font-cd {
  font-family: "CreatoDisplay", sans-serif;
}

.pri-clr {
  color: #263650;
}

.pri-bg {
  background-color: #263650;
}

.sec-clr {
  color: #8dcdcb;
}

.sec-bg {
  background-color: #8dcdcb;
}

.yellow-clr {
  color: #f4d552;
}

.yellow-bg {
  background-color: #f4d552;
}

.lite-white {
  color: #f2f2f2;
}

.black-clr {
  color: #000000;
}

.fs-8 {
  font-size: 0.5rem !important;
}

.fs-9 {
  font-size: 0.5625rem !important;
}

.fs-10 {
  font-size: 0.625rem !important;
}

.fs-11 {
  font-size: 0.6875rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.8125rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-15 {
  font-size: 0.9375rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.h-100vh {
  height: 100vh;
  overflow: auto;
}

.w-100vw {
  width: 100vw;
}

.anchor-link {
  text-decoration: none;
}
.anchor-link:hover {
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #263650;
}

::-webkit-scrollbar-track {
  background: #939ba8;
}

body {
  scrollbar-face-color: #263650;
  scrollbar-track-color: #939ba8;
}

label {
  margin-bottom: 0 !important;
}

.karya-px {
  padding-right: 4rem;
  padding-left: 4rem;
}

.karya-py {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.karya-p {
  padding: 4rem;
}

.hoverable {
  cursor: pointer;
}
.hoverable:hover {
  opacity: 0.7;
}

.karya-btn {
  padding: 0.2rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}
.karya-btn:hover {
  opacity: 0.7;
}
.karya-btn:active {
  opacity: 0.6;
}

.karya-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.karya-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-card .circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-card h1 {
  text-align: center;
}
.info-card h6 {
  text-align: center;
}

.gx-5rem {
  --bs-gutter-x: 5rem;
}

.karya-select {
  border: 1px solid #8dcdcb;
  color: #263650;
  font-size: 0.8rem;
  font-weight: 500;
}
.karya-select:focus {
  box-shadow: none;
  border: 1px solid #8dcdcb !important;
}

@media screen and (max-width: 768px) {
  .d-none-tab {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .d-none-mobile {
    display: none;
  }
}
.stepper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.5rem 3.2rem 1.5rem;
  border: 2px solid #263650;
  border-radius: 1.5rem;
}
.stepper-container .hor-line {
  display: block;
  width: 5rem;
  height: 0.1rem;
  background-color: #7f7f7f;
}
.stepper-container .ver-line {
  display: block;
  width: 0.16rem;
  height: 1rem;
  background-color: #7f7f7f;
}
.stepper-container .start {
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}
.stepper-container .start .txt {
  margin-right: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #27364d;
}
.stepper-container .start .circle {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background-color: #263650;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 0.35rem #f4d552;
}
.stepper-container .personal-info .progress-lines .hor-line {
  width: 2.5rem;
}
.stepper-container .personal-info:after {
  content: "Personal\aInformation";
  position: absolute;
  top: 1.5rem;
  left: 28%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.8rem;
  color: #2e3c53;
}
.stepper-container .upload-resume:after {
  content: "Upload\aResume";
  position: absolute;
  top: 1.5rem;
  left: 70%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.8rem;
  color: #2e3c53;
}
.stepper-container .personality-assessment:after {
  content: "Personality\a Assessment";
  position: absolute;
  top: 1.5rem;
  left: 59%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.8rem;
  color: #2e3c53;
}
.stepper-container .interview-prep:after {
  content: "Interview\aPreperation";
  position: absolute;
  top: 1.5rem;
  left: 63%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.8rem;
  color: #2e3c53;
}
.stepper-container .upload-vid:after {
  content: "Upload\aVideo";
  position: absolute;
  top: 1.5rem;
  left: 75%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.8rem;
  color: #2e3c53;
}
.stepper-container .incomplete {
  display: flex;
  align-items: center;
}
.stepper-container .incomplete .hor-line {
  width: 2.5rem;
}
.stepper-container .incomplete .txt {
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: 1rem;
  color: #27364d;
}
.stepper-container .incomplete .circle {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 0.35rem #7f7f7f;
}
.stepper-container .complete .hor-line {
  background-color: #f4d552;
}
.stepper-container .complete .circle {
  background-color: #263650;
  box-shadow: 0px 0px 0px 0.35rem #f4d552;
}
.stepper-container .completed .hor-line,
.stepper-container .completed .ver-line {
  background-color: #f4d552;
}

@media screen and (max-width: 860px) {
  .get-hired-section .dashboard .profile-data .for-stepper {
    overflow: auto;
    justify-content: unset !important;
  }
}
@media screen and (max-width: 768px) {
  .get-hired-section .dashboard .profile-data .for-stepper {
    overflow: auto;
    justify-content: center !important;
  }
}
@media screen and (max-width: 626px) {
  .get-hired-section .dashboard .profile-data .for-stepper {
    justify-content: unset !important;
  }
}
@media screen and (max-width: 576px) {
  .get-hired-section .dashboard .profile-data .for-stepper {
    justify-content: center !important;
  }
  .stepper-container {
    border: 1.5px solid #263650;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    border-radius: 0.5rem;
  }
  .stepper-container .hor-line {
    width: 3rem;
  }
  .stepper-container .ver-line {
    height: 0.6rem;
    width: 0.1rem;
  }
  .stepper-container .start {
    margin-right: 0.25rem;
  }
  .stepper-container .start .txt {
    font-size: 0.5rem;
    margin-right: 0.5rem;
  }
  .stepper-container .start .circle {
    width: 0.3rem;
    height: 0.3rem;
    box-shadow: 0px 0px 0px 0.25rem #f4d552;
  }
  .stepper-container .personal-info .progress-lines .hor-line {
    width: 1.5rem;
  }
  .stepper-container .personal-info:after {
    font-size: 0.5rem;
    line-height: 0.6rem;
    top: 0.7rem;
    left: 16%;
  }
  .stepper-container .upload-resume:after {
    color: #2e3c53;
    font-size: 0.5rem;
    line-height: 0.6rem;
    top: 0.7rem;
    left: 68%;
  }
  .stepper-container .personality-assessment:after {
    font-size: 0.5rem;
    line-height: 0.6rem;
    top: 0.7rem;
    left: 55%;
  }
  .stepper-container .interview-prep:after {
    font-size: 0.5rem;
    line-height: 0.6rem;
    top: 0.7rem;
    left: 59%;
  }
  .stepper-container .upload-vid:after {
    font-size: 0.5rem;
    line-height: 0.6rem;
    top: 0.7rem;
    left: 72%;
  }
  .stepper-container .incomplete .hor-line {
    width: 1.5rem;
  }
  .stepper-container .incomplete .circle {
    width: 0.3rem;
    height: 0.3rem;
    box-shadow: 0px 0px 0px 0.25rem #7f7f7f;
  }
  .stepper-container .incomplete .txt {
    font-size: 0.5rem;
    margin-left: 0.5rem;
  }
  .stepper-container .complete .hor-line {
    width: 1.5rem;
  }
  .stepper-container .complete .circle {
    background-color: #263650;
    box-shadow: 0px 0px 0px 0.25rem #f4d552;
  }
  .stepper-container .complete .txt {
    font-size: 0.5rem;
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 398px) {
  .get-hired-section .dashboard .profile-data .for-stepper {
    justify-content: unset !important;
  }
}/*# sourceMappingURL=stepper.css.map */