// fonts
@font-face {
  font-family: 'Abeatbykai';
  src: url('../fonts/abeatbykai/abeatbyKaiRegular.otf');
}

/* Light */
@font-face {
  font-family: 'CreatoDisplay';
  src: url('../fonts/creato_display/CreatoDisplay-Light.otf');
  font-style: normal;
  font-weight: 100;
}

/* Normal */
@font-face {
  font-family: 'CreatoDisplay';
  src: url('../fonts/creato_display/CreatoDisplay-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: 'CreatoDisplay';
  src: url('../fonts/creato_display/CreatoDisplay-Medium.otf');
  font-style: normal;
  font-weight: 500;
}

/* Bold */
@font-face {
  font-family: 'CreatoDisplay';
  src: url('../fonts/creato_display/CreatoDisplay-Bold.otf');
  font-style: normal;
  font-weight: 700;
}

/* Extra Bold */
@font-face {
  font-family: 'CreatoDisplay';
  src: url('../fonts/creato_display/CreatoDisplay-ExtraBold.otf');
  font-style: normal;
  font-weight: 900;
}
// fonts
html,
body {
  font-family: 'Abeatbykai', sans-serif;
  font-family: 'CreatoDisplay', sans-serif;
  font-size: 16px;
}

.font-kai {
  font-family: 'Abeatbykai', sans-serif;
}

.font-cd {
  font-family: 'CreatoDisplay', sans-serif;
}

$primary-color: #263650;
.pri-clr {
  color: $primary-color;
}
.pri-bg {
  background-color: $primary-color;
}

$secondary-color: #8dcdcb;
.sec-clr {
  color: $secondary-color;
}
.sec-bg {
  background-color: $secondary-color;
}

$yellow-color: #f4d552;
.yellow-clr {
  color: $yellow-color;
}
.yellow-bg {
  background-color: $yellow-color;
}

$lite-white: #f2f2f2;
.lite-white {
  color: $lite-white;
}

$black-color: #000000;
.black-clr {
  color: $black-color;
}

.fs-8 {
  font-size: 0.5rem !important;
}

.fs-9 {
  font-size: 0.5625rem !important;
}

.fs-10 {
  font-size: 0.625rem !important;
}

.fs-11 {
  font-size: 0.6875rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-13 {
  font-size: 0.8125rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-15 {
  font-size: 0.9375rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.h-100vh {
  height: 100vh;
  overflow: auto;
}

.w-100vw {
  width: 100vw;
}

.anchor-link {
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

.list-style-none {
  list-style: none;
}

// for sleek scorllbar
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(0.3em, $primary-color);

label {
  margin-bottom: 0 !important;
}

.karya-px {
  padding-right: 4rem;
  padding-left: 4rem;
}

.karya-py {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.karya-p {
  padding: 4rem;
}

.hoverable {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.karya-btn {
  padding: 0.2rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.6;
  }
}

.karya-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.karya-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  .circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
  }
  h6 {
    text-align: center;
  }
}

.gx-5rem {
  --bs-gutter-x: 5rem;
}

.karya-select {
  border: 1px solid $secondary-color;
  color: $primary-color;
  font-size: 0.8rem;
  font-weight: 500;
  &:focus {
    box-shadow: none;
    border: 1px solid $secondary-color !important;
  }
}

@media screen and (max-width: 768px) {
  .d-none-tab {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .d-none-mobile {
    display: none;
  }
}
